:root {
  --color-primary: #355C7D;
  --color-secondary: #753a88;
  --color-background: #F0F0F0;

  --color-elite: #8e44ad;
  --color-legendary: #fad859;
  --color-mythic: #cf000f;
  --color-mythic-maxed: #f22613;
  --color-ascended: #ffffff;
}
