html {
  //font-family: 'Josefin Sans', -apple-app, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.app-content {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  text-align: left;
}
