@import "./fonts";

body .v-application {
  .app-content {
    font-family: $body-font-family, sans-serif !important;
  }

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: $title-font-family, sans-serif !important;
  }

  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-button,
  .text-caption,
  .text-overline {
    font-family: $body-font-family, sans-serif !important;
  }

  //.v-input { // TODO maybe have to do with select and other inputs
  //  margin-bottom: 8px;
  //}

  //.v-toolbar {
  //  z-index: 9;
  //}

  .v-dialog {
    border-radius: 24px 4px 24px 4px;
  }

  .v-tabs > .v-tabs-bar {
    background-color: transparent;
  }
}




